p {margin: 1px;}

.weather-app {max-width: 600px;
margin: 0 auto;
border: 1px solid #dadde1;
padding: 20px;
border-radius: 20px;}

body {
  line-height: 1;
  font-family: 'Ubuntu', sans-serif;;
padding: 20px;

}



.input-group-text {
  position: relative;
  margin: 10px;
  font-size: 25px;
  right: 0px;
}

.sun {
  font-size: 100px;
  text-align: center;
  color: #dddddd;
  margin-top: 10px;
  padding: 5px;
  letter-spacing: 1px;
  width: auto;
}

.temperature {
  font-size: 70px;
  display: block;
  margin: 5px;
  text-align: left;
  color: #dddddd;
  padding: 5px;
  float: left;

}

.precipitation {
  text-align: center;
  font-size: 30px;
  display: block;
  position: relative;
}
.wind {
  text-align: center;
  display: block;
  font-size: 30px;
  position: relative;
}

.day {
  text-align: center;
}

.city {
  text-align: left; 
  padding: 10px;
  font-size: 50px;
  font-weight: 700;
  color: #3c4245;
  text-transform: capitalize;
}
.cityicon {
  text-align: center;
  font-size: 30px;
  margin-top: 0px;
}

.time {
  font-size: 15px;
  font-weight: lighter;
  text-align: left;
  padding: 0 10px 0 10px;
  color: #5f6769;
}

#search-city {
  display: block;
  margin: 10px;
}

.temperature-values {
float: left;
margin: 100px;
padding: 5px;
  display: block;
  text-align: center;
  margin: 0 auto;
}

#current-location {
  display: block;
  margin: 0 auto;
  background-color: white;
  color:  #464444;
  border: 2px solid #dddddd; }

  footer {margin-top: 30px;
  text-align: center;
font-family: monospace;}

#searched-city {width: 100%;
border-radius: 7px;}

#current-location {width: 100%;}


.precip {font-size:10px;
text-align: left;}

.temp-info img {width: 80px;
display: inline-block;  
position:relative;
float: left;
}

#temperature-shown {display: inline-block;}

.temp-info small {float: left;
padding-top: 20px;
margin: 0;}

.city-time {margin-top:20px;
margin-bottom: 30px;}

.lista {list-style-type: none;
padding: 0px;
color: #9ba6a5;
line-height: 1.5;
float: left;
margin: 0;
font-weight: lighter;}


ul span {color: #0095FF;
font-weight: 600;}

#description {font-style: italic;
  text-transform: capitalize;
  color: #3c4245;
}

.weather-forecast {text-align: center;}